<mat-toolbar>
  <span>Shrimp</span>
  <span class="spacer"></span>
  <button mat-raised-button>
    <mat-icon>person</mat-icon>
    Вход
  </button>
  <button
    mat-icon-button
    class="icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
  <button
    mat-icon-button
    class="icon"
    (click)="drawerToggle.emit($event)"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
